/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 2, 2014, 6:13:50 PM
    Author     : Matteo
*/

.vbox {
    -fx-background-color: #FFFFFFC8; //last two digits are opacity, 7F is 50%
    -fx-padding: 0;
    -fx-spacing: 0;
    //width: 250px
}
.choice-box{
/*      -fx-background-color: 
        #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
    -fx-padding: 3 10 4 20;
    -fx-text-fill: white;*/
    -fx-font-size: 14px;
}

.slider .axis {
    // -fx-tick-label-font: 0.833333em System; 
    -fx-tick-label-font: 1.25em System; 
}